body {
  padding: 40px;
}
.color_table tr td{
  background: transparent;
}
.color_table tr {
  background: rgba(128, 128, 128, 0.227);
}
.color_table tr:nth-child(2n) {
  background: rgba(128, 128, 128, 0.094);
}

nav input {
  max-width: 300px;
  margin-bottom: 0 !important;
}

caption {
  margin: 40px 0 20px;
}